<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="main-div">

      <mat-card class="form-card">

      <form class="example-form"
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
          <mat-card-title>
            <img class="logo" src="./../assets/images/logo.png" alt="preventip" width="20%" height="20%" style="margin-top: 3rem"/>
          </mat-card-title>
          <h2 class="inicio-sesion" style="margin-top: 1rem;">Reestablecer contraseña</h2>
          
          <h5 class="indicaciones-basic">
            Por favor indica una nueva contraseña
          </h5>
  
          <h5 class="division_formulario">Contraseña de usuario</h5>
        <mat-form-field appearance="outline" style="width: 90%">
          <mat-label>Contraseña</mat-label>
          <input matInput
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.pwdCliente"
          required
          minlength="6"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
          #pwdCliente="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && pwdCliente.errors }" />
          <div class="invalid-feedback" *ngIf="pwdCliente.errors && f.submitted">
            <div *ngIf="pwdCliente.errors['required']">
              Se requiere contraseña.
            </div>
            <div *ngIf="pwdCliente.errors['minlength']">
              La contraseña debe de tener al menos 6 caracteres.
            </div>
          </div>
        </mat-form-field>

        <script>
          var myInput = document.getElementById("psw");
          var letter = document.getElementById("letter");
          var capital = document.getElementById("capital");
          var number = document.getElementById("number");
          var length = document.getElementById("length");
          
          // When the user clicks on the password field, show the message box
          myInput.onfocus = function() {
            document.getElementById("message").style.display = "block";
          }
          
          // When the user clicks outside of the password field, hide the message box
          myInput.onblur = function() {
            document.getElementById("message").style.display = "none";
          }
          
          // When the user starts to type something inside the password field
          myInput.onkeyup = function() {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if(myInput.value.match(lowerCaseLetters)) {
              letter.classList.remove("invalid");
              letter.classList.add("valid");
            } else {
              letter.classList.remove("valid");
              letter.classList.add("invalid");
          }
          
            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if(myInput.value.match(upperCaseLetters)) {
              capital.classList.remove("invalid");
              capital.classList.add("valid");
            } else {
              capital.classList.remove("valid");
              capital.classList.add("invalid");
            }
          
            // Validate numbers
            var numbers = /[0-9]/g;
            if(myInput.value.match(numbers)) {
              number.classList.remove("invalid");
              number.classList.add("valid");
            } else {
              number.classList.remove("valid");
              number.classList.add("invalid");
            }
          
            // Validate length
            if(myInput.value.length >= 8) {
              length.classList.remove("invalid");
              length.classList.add("valid");
            } else {
              length.classList.remove("valid");
              length.classList.add("invalid");
            }
          }
          </script>




          <mat-form-field appearance="outline" style="width: 70%">
            <mat-label>Confirmación contraseña</mat-label>
            <input matInput />
          </mat-form-field>
  
        
        <div class="box">
          <button (click)="login()" mat-stroked-button class="login-button" style="width: 70%; margin-top: 0.5rem">
            <i aria-hidden="true"></i>
            Enviar
          </button>
        
        </form>
      </mat-card>
    </div>
  </div>