<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="main-div">
      <mat-card class="form-card">
  
        <form class="example-form">
            <mat-card-title>
                <img class="logo" src="./../assets/images/logo.png" alt="preventip" width="15%" height="40%" />
            </mat-card-title>
          <h2 class="inicio-sesion" style="margin-top: 2rem;">Reestablecer contraseña</h2>
  
          <h3 class="indicaciones">Por favor indica tu correo electrónico para 
            
            <p></p>enviarte los pasos a seguir para recuperar
            tu contraseña
          </h3>
  
  
          <mat-form-field appearance="outline" style="width: 70%; ; margin-top: 1rem">
            <mat-label>Correo</mat-label>
            <input matInput />
          </mat-form-field>
        </form>
        <div class="box">
            <button (click)="login()" mat-stroked-button  class="login-button" style="width: 70%; margin-top: 0.8rem">
             <i aria-hidden="true"></i>
             Enviar
             </button> 
             
         </div>
      </mat-card>
    </div>
  </div>