<p>El timestamp actual es: {{ timestamp_final }}</p>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="main-div">
        <mat-card-header>
            <mat-card class="example-card">
                <mat-card-title>
                    <img class="logo" src="./../assets/images/logo.png" alt="preventip" width="20%" height="60%" />
                </mat-card-title>
                <h1 class="texto">Sarita</h1>
                <h4 class="texto2">Tus resultados están listos y los puedes consultar en la página.
                    Gracias por confiar en nosotros.
                </h4>

                <button (click)="login()" mat-stroked-button  class="login-btn">
                    <i aria-hidden="true"></i>
                    Finalizar
                </button>
        
            </mat-card>
            
        </mat-card-header>

    </div>

</div>