
.login-wrapper {
    height: 100%;
    background: linear-gradient(150deg,#f1f8e6, #5da337);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
}


.login-wrapper .example-full-width,
.login-wrapper .login-btn {
    width: 100%;
    font-size: 22px;
    background-color: #5da337;
    color: #ffffff;
    line-height: 65px;
    height: 65px;
}

.login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}

.login-wrapper .mat-card {
    padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
}


.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 60px 50px 40px 50px;
    
  }

  
.example-card{
    padding: 60px 50px 40px 50px;
    background: #fff;
    border-radius: 10px;
    z-index: 5;
    transform: scale(1);
}



