<div *ngFor="let variable of variables">
  <h3>{{ variable.name }}</h3>
  <p>Value: {{ variable.value }} {{ variable.unit }}</p>
</div>



<div class="root-container">
    <div class="container">
        <div class="box">
            <div class="row-one">
                <div class="image-content">
                    <img class=image_metrics src="./../assets/images/heart_rate.png" alt="Heart Rate"/>
                    <h2 class="texto"> Frecuencia Cardíaca</h2>
                    <h3 class="texto_metricas"> {{heart_rate}} bpm</h3>
                </div>
                <div class="image-content">
                    <img class=image_metrics src="./../assets/images/respiratory_rate.png" alt="Respiratory Rate"/>
                    <h2 class="texto"> Frecuencia Respiratoria</h2>
                    <h3 class="texto_metricas"> {{resp_rate}} RRp</h3>
                </div>
                <div class="image-content">
                    <img class=image_metrics src="./../assets/images/oxygen_saturation.png" alt="Oxygen Saturation"/>
                    <h2 class="texto"> Saturación de Oxígeno</h2>
                    <h3 class="texto_metricas"> {{oxy_sat}} SpO2%</h3>
                </div>
            </div>
            <div class="row-two">
                <div class="image-content">
                    <img class=image_metrics src="./../assets/images/weight.png" alt="weight & BMI"/>
                    <h2 class="texto"> Peso e IMC</h2>
                    <h3 class="texto_metricas"> {{weight}} kg & {{bmi}} kg/m2</h3>
                </div>
                <div class="image-content">
                    <img class=image_metrics src="./../assets/images/temperature.png" alt="temperature"/>
                    <h2 class="texto"> Temperatura</h2>
                    <h3 class="texto_metricas"> {{temperature}} °C</h3>
                </div>
                <div class="image-content">
                    <img class=image_metrics src="./../assets/images/blood_pressure.png" alt="blood pressure"/>
                    <h2 class="texto"> Presión arterial </h2>
                    <h3 class="texto_metricas"> {{blood_press}}-{{blood_press2}} mmHg </h3>
                </div>
            </div>
        </div>

            <button (click)="storage()" mat-stroked-button  class="login-button">
                <i aria-hidden="true"></i>
                Siguiente
                </button> 

    </div>
</div>