<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="main-div">
        <mat-card-header>
            <mat-card class="example-card">
                <mat-card-title>
                    <img class="logo" src="./../assets/images/logo.png" alt="preventip" width="20%" height="60%" />
                </mat-card-title>
                <h1 class="texto">Sarita </h1>
                <h4>Inserte su brazo en el brazalete a su derecha, cubriendo su muñeca, para medir su presión arterial</h4>
                <mat-card-title>
                    <img class="imagenproceso" src="./../assets/images/pressure.png" alt="preventip" width="7%" height="60%" />
                </mat-card-title>
                <div class="box">
                    <button (click)="login()" mat-stroked-button  class="login-button">
                     <i aria-hidden="true"></i>
                     Salir
                     </button> 
                     <div class="space">
                     </div>
                     <button (click)="metrics()" mat-stroked-button  class="login-button">
                      <i aria-hidden="true"></i>
                      Siguiente
                      </button> 
                 </div>
        
            </mat-card>
            
        </mat-card-header>

    </div>

</div>